@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@900&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: #fefefe; */
  margin-bottom: 30px;
}

div .mobileView {
  display: none;
}

@media (max-width: 800px) {
  .MuiDrawer-root {
    display: none;
  }

  .MuiToolbar-root {
    width: 100%;
    margin: auto;
    /* background-color: aquamarine; */
  }

  #root .makeStyles-root-4 header {
    width: 100%;
    margin: auto;
    /* background-color: rgba(244, 127, 255, 0.21); */
  }

  #root div .MuiAppBar-root {
    width: 100%;
    margin: auto;
    left: 0px;
    /* background-color: rgb(149, 232, 201); */
  }

  /* .MuiAppBar header{
    width: 100%;
    margin: auto;
    background-color: rgb(244, 127, 255);
  } */
  div .makeStyles-date-9 {
    padding-left: 4px;
    text-align: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    color: #9c27b0;
  }

  div .mobileView {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(155, 255, 127); */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  div .MuiAvatar-root {
    margin-right: 2rem;
  }

  .MuiContainer-root {
    padding-top: 5rem;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading h3 {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
  font-family: Quicksand;
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #9c27b0;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
